.aws-sam
servicio-libros-java17\BookFunction\target
out
server
node_modules
*.vsix
.DS_Store
.vscode-test
undefined
target
dist
jre
lombok
bin/
.settings
.classpath
.project
test/resources/projects/**/.vscode
test/resources/projects/maven/salut/testGradle
test-temp

.vscode
iglesiasasociadas.data.ts
servicio-locaciones-java17\.aws-sam
servicio-locaciones-java17/.aws-sam
servicio-locaciones-java17/*/target/*
*/*/target/*
servicio-locaciones-java17\target\*
servicio-libros-java17\target\
servicio-libros-java17\.asw-sam\
servicio-locaciones-java17/pom.xml.tag
servicio-locaciones-java17/pom.xml.releaseBackup
servicio-locaciones-java17/pom.xml.versionsBackup
servicio-locaciones-java17/pom.xml.next
servicio-locaciones-java17/release.properties
servicio-locaciones-java17/dependency-reduced-pom.xml
servicio-locaciones-java17/buildNumber.properties
servicio-locaciones-java17/.mvn/timing.properties
*/.aws-sam/

servicio-locaciones-java17/.mvn/wrapper/maven-wrapper.jar